/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.center{
    width: 80%;
    margin: 0 50px;
}

img{
    max-height: 100%;
}


/*POSITION*/

.relative{
    position:relative;
}

.absolute{
    position:absolute;
}

/*FLEXBOX*/

.flex{
    display:flex;
}

.flexrwsb{
    display:flex;
    justify-content: space-between;
}

.flexcenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flexcenterright{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.flexcol{
    display:flex;
    flex-direction:column;
    align-content: stretch;
}

/*HEADER*/

.navbar-background{
    width:100%;
    background-color: #ff6900;
    height:100px;
}

.navbar{
    height:50px;
    min-width:50px;

    /*DEBUG*/
    /* border: 1px solid black; */
}

.category-garments{
    width:20%;
    height: 100%;

    /*DEBUG*/
    /* border:1px solid blue; */
    /* background-color: blue; */
}

.category-garments li{
    list-style-type: none;
    margin:0 10px;
    display:inline-block;
}

.category-garments li a{
    color: White;
    text-decoration: none;
}

.main-logo{
    flex-grow: 1;
    text-align: center;

    /*DEBUG*/
    /* border:1px solid red; */
    /* background-color: red; */
}

.icons{
    width:20%;
    height: 100%;

    /*DEBUG*/
    /* border:1px solid yellow; */
    /* background-color: yellow; */
}

.icons i{
    margin: 0 10px;
}

/*MAIN*/

.product{
    margin: 40px auto;
    height:600px;

    /*DEBUG*/
    /* border: 1px solid black; */
}

.col{
    width: calc(100% / 3);
    margin-right:30px;
    /*DEBUG*/
    /* border: 1px solid black; */
}

.product-card{
    width:100%;
    height:100%;
    position:relative;
}



.product-img{
    position:relative;
    top:0;
    left:0;
    flex-grow: 1;
    background-image: url("../img/1.webp");
    background-size: cover;
    background-position: center;

    /*DEBUG*/
    /* background-color: blue; */
}


/*BANNER INSIDE THE IMG PRODUCT*/


.alert{
    width:100%;
    min-height:30px;
    position: absolute;
    bottom: 50px;
    left:0;

    /*DEBUG*/
    /* background-color:grey; */
}


.heart{
    position:absolute;
    top:0;
    right:0;
    width:1.5em;
    height:1.5em;
    background-color: white;
    text-align:center;
    line-height: 1.5em;
    font-size: 2rem;
}

/*ALERT INSIDE THE IMG*/

.banner-rectangle{
    display: inline-block;
    margin-right:20px;
    text-align: center;
    line-height: 2em;
}
.discount{
    width: 4em;
    height: 2rem;
    background-color: red;
    color:white;
}

.sustainable{
    width: 6em;
    height: 2rem;
    text-align: center;
    background-color: green;
    color:white;
}

.product-info{
    width:100%;
    height:80px;
    position:relative;
    bottom:0;
    left:0;

    /*DEBUG*/
    /* background-color: purple; */
}

.new-price{
    color:red;
}

.old-price{
    text-decoration: line-through;
    padding-left:10px;
}

/*FOOTER*/
footer{
    width:100%;
    min-height: 180px;
    background-color: black;
    color:white;
    padding:10px;
}

.list{
    list-style-type: none;
}

.list li{
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
}

.list a{
    color:inherit;
    text-decoration: none;
}