/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
.center{
    width: 80%;
    margin: 0 50px;
}

img{
    max-height: 100%;
}


/*POSITION*/

.relative{
    position:relative;
}

.absolute{
    position:absolute;
}

/*FLEXBOX*/

.flex{
    display:flex;
}

.flexrwsb{
    display:flex;
    justify-content: space-between;
}

.flexcenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flexcenterright{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.flexcol{
    display:flex;
    flex-direction:column;
    align-content: stretch;
}

/*HEADER*/

.navbar-background{
    width:100%;
    background-color: #ff6900;
    height:100px;
}

.navbar{
    height:50px;
    min-width:50px;

    /*DEBUG*/
    border: 1px solid black;
}

.category-garments{
    width:20%;
    height: 100%;

    /*DEBUG*/
    /* border:1px solid blue; */
    /* background-color: blue; */
}

.category-garments li{
    list-style-type: none;
    margin:0 10px;
    display:inline-block;
}

.category-garments li a{
    color: White;
    text-decoration: none;
}

.main-logo{
    flex-grow: 1;
    text-align: center;

    /*DEBUG*/
    border:1px solid red;
    /* background-color: red; */
}

.icons{
    width:20%;
    height: 100%;

    /*DEBUG*/
    border:1px solid yellow;
    /* background-color: yellow; */
}

.icons i{
    margin: 0 10px;
}

/*MAIN*/

.product{
    margin: 40px auto;
    height:600px;

    /*DEBUG*/
    border: 1px solid black;
}

.col{
    width: calc(100% / 3);
    margin-right:30px;
    /*DEBUG*/
    border: 1px solid black;
}

.product-card{
    width:100%;
    height:100%;
}

.product-img{
    position:relative;
    height:80%;

    /*DEBUG*/
    background-color: blue;
}


.product-info{
    width:100%;
    height:20%;

    /*DEBUG*/
    background-color: purple;
}


/*FOOTER*/